@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-righteous: "Righteous", sans-serif;
  --font-space: "Space Mono", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  background: #0e0c15;
  color: #ffffff;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer utilities {
  .nav {
    @apply text-n-1 relative ml-6 font-semibold  hover:text-n-3;
  }
  .nav::after {
    @apply content-[''] bg-blue-500 h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300;
  }
  .nav:hover::after {
    @apply w-[100%];
  }

  .highlight {
    @apply text-yellow-500 hover:text-blue-500  hover:border-yellow-500 border-b-[12px] px-2 border-blue-500;
  }

  .link {
    @apply bg-gray-200 px-4 py-1 rounded-full capitalize;
  }
  .button {
    @apply text-blue-700 border duration-500 border-blue-600 py-2 px-4 rounded inline-flex items-center hover:bg-blue-600 hover:text-white;
  }
  .roundedButton {
    @apply inline-flex items-center justify-center w-full px-8 py-4 text-base font-bold leading-6 text-white bg-blue-600 border border-transparent rounded-full md:w-auto hover:bg-blue-500 focus:outline-none focus:ring-2 shadow-lg focus:ring-offset-2 focus:ring-blue-600;
  }
  .scaleEffect {
    @apply hover:text-blue-700  transition duration-500 hover:scale-150;
  }
  /* .projectCard {
    @apply rounded-lg m-2 border-2 p-5 shadow-xl bg-gradient-to-t from-gray-200;
  } */
  .boxShadow {
    @apply shadow-[rgba(1,1,122,0.4)];
  }
  .underlines {
    @apply hover:text-blue-500 hover:underline;
  }
  /* Book cover css */
  .book-wrapper {
    width: 900px;
    position: relative;
    margin: 0 auto;
    column-count: 3;
    column-gap: 12px;
    padding: 4px;
  }
  .book-items {
    position: relative;
    cursor: default;
    padding: 16px;
    margin: 0;
    display: grid;
    break-inside: avoid;
  }

  .main-book-wrap {
    position: relative;
  }

  .book-cover {
    position: relative;
  }

  .book-cover .book-inside {
    position: absolute;
    width: 90%;
    height: 96%;
    top: 1%;
    left: 16px;
    border: 1px solid grey;
    border-radius: 2px 6px 6px 2px;
    background: white;
    box-shadow: 10px 40px 40px -10px #00000030, inset -2px 0 0 grey,
      inset -3px 0 0 #dbdbdb, inset -4px 0 0 white, inset -5px 0 0 #dbdbdb,
      inset -6px 0 0 white, inset -7px 0 0 #dbdbdb, inset -8px 0 0 white,
      inset -9px 0 0 #dbdbdb;
  }

  .book-cover .book-image {
    line-height: 0;
    position: relative;
    border-radius: 2px 6px 6px 2px;
    box-shadow: 6px 6px 18px -2px rgba(0, 0, 0, 0.2),
      24px 28px 40px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    transform: perspective(2000px) rotateY(-15deg) translateX(-10px)
      scaleX(0.94);
    cursor: pointer;
  }

  .book-image img {
    grid-row: 1 / -1;
    grid-column: 1;
    width: 100%;
    border-radius: 2px 6px 6px 2px;
  }

  .book-image:hover {
    transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
    transform-style: preserve-3d;
    box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
      20px 14px 16px -6px rgba(0, 0, 0, 0.1);
  }

  .effect {
    position: absolute;
    width: 20px;
    height: 100%;
    margin-left: 16px;
    top: 0;
    border-left: 2px solid #00000010;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: all 0.5s ease;
    z-index: 5;
  }

  .light {
    width: 90%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    top: 0;
    right: 0;
    opacity: 0.1;
    transition: all 0.5s ease;
    z-index: 4;
  }

  .book-image:hover .effect {
    margin-left: 14px;
  }

  .realvjy {
    width: 900px;
    padding: 20px;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
  }
}
